<section>
  <article>
    <h2>Playing Now</h2>
    <% @playing_now.each do |movie| %>
      <%= link_to (image_tag "https://image.tmdb.org/t/p/w185#{movie.tmdb_poster}"), movie_path(movie) %>
    <% end %>
  </article>

  <article>
    <h2>Coming Soon</h2>
    <% @comming_soon.each do |movie| %>
        <%= link_to (image_tag "https://image.tmdb.org/t/p/w185#{movie.tmdb_poster}"), movie_path(movie) %>
    <% end %>
  </article>
</section>
