<h1>Home#index</h1>

<h2>Playing Now</h2>
<% @playing_now.each do |movie| %>
  <%= link_to (image_tag "https://image.tmdb.org/t/p/w185#{movie.tmdb_poster}"), movie_path(movie) %>
<% end %>

<h2>Coming Soon</h2>
<% @comming_soon.each do |movie| %>
    <img src="https://image.tmdb.org/t/p/w185<%= movie.tmdb_poster %>">
<% end %>


<!--
<div id="myAJAX"></div>
<script>
var myDiv;
$(document).ready(function(){
  myDiv= document.getElementById("myAJAX");
<% @movies.each do |movie| %>
  $.ajax({
    url:"https://api.themoviedb.org/3/movie/<%=movie.tmdb_num%>?api_key=<%=$TMDB_API_KEY%>",
    method: "GET"
  }).done(function(myData){
    $(myDiv).append("<img src='https://image.tmdb.org/t/p/w185" + myData["poster_path"] +"/'><br>");
    console.log(myData["original_title"]);
  }).error(function(){
    console.log("something went wrong");
  });
<% end %>


});
</script> -->
