<section class="about">
  <article>
    <h3>About M Cinema</h3>
    <p>M Cinema is a pretend movie theater website.<br>
      Like a regular movie theater site,
      user can see what movies are playing now,
      what movies will play later, book tickets and see the tickets they bought.</p>
    <div class="sampleId"><h4>Sample user account</h4>
      <div>ID: user@user.com</div> <div>PASSWORD: user</div>
    </div>
    <p>Admin user can access admin pages to update movies and make movie schedules.</p>
    <div class="sampleId"><h4>Sample admin account</h4>
      <div>ID: admin@admin.com</div> <div>PASSWORD: admin</div>
    </div>
  </article>

  <article>
    <h3>Technology & API</h3>
    <ul>
      <li>Ruby on rails - Back-end server</li>
      <li>PostgreSQL - Database</li>
      <li>ERB - Front-end template</li>
      <li>TMDB - Movie database API</li>
    </ul>
  </article>

  <article>
    <h3>Entity Relationship Diagrams</h3>
    <%= image_tag "erd.png" %>
  </article>

  <article class="imtaek">
    <h3>Imtaek Hong</h3>
    <%= image_tag "about_me.jpg", class:"imtaek" %>
    <div class="portfolio">
      <p>Please visit my portfolio site to see my other works!</p>
      <p><a href="http://imtaekh.github.io/portfolio/">http://imtaekh.github.io/portfolio/</a><p>
    </div>
  </article>
</section>
