<section class="about">
  <article>
    <h3>About M Cinema</h3>
    <p>M Cinema is a pretend movie theater website.
      Like a regular movie theater site,
      user can see what movies are playing now,
      what movies will play later, book tickets and see the tickets they bought.</p>
    <p><i>A sample user(ID: user@user.com, PASSWORD: user) is available, or sign up your own.</i></p>
    <p>Admin user can access admin pages so can update movies and make movie schedules.</p>
    <p><i>Login with a sample admin user(ID: admin@admin.com, PASSWORD: admin) to access admin pages</i></p>
  </article>

  <article>
    <h3>Technology & API</h3>
    <ul>
      <li>Ruby on rails - Back-end server</li>
      <li>PostgreSQL - Database</li>
      <li>ERB - Front-end template</li>
      <li>TMDB - Movie database API</li>
    </ul>
  </article>

  <article>
    <h3>Entity Relationship Diagrams</h3>
    <%= image_tag "erd.png" %>
  </article>
</section>
