<section class="buy_ticket choose_seats">
  <h1> Choose seats </h1>
  <%= @show_time.id %>
  <div class="select_seats">
    <table>
      <tr>
      <% count={} %>
      <% for i in 1..30 %>
        <% count[:i]=0 %>
        <% for j in "A".."Z" %>
          <% seat=@show_time.seats.find_by(num:"#{i}#{j}")%>
          <% if seat !=nil %>
            <% count[:i]+=1 %>
            <% if seat.ticket_id %>
              <td><div class="seat taken"><%= "#{i}#{j}" %></div></td>
            <% else %>
              <td><div class="seat available"><%= "#{i}#{j}" %></div></td>
            <% end %>
          <% end %>
        <% end %>
        <% if count[:i] > 0 %>
          </tr><tr>
        <% end %>
        <% if i == 30 %>
          </tr>
        <% end %>
      <% end %>
  </table>
  </div>
</section>
