/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.button_to{
  display: inline-block;
}
a:hover{
 color:inherit;
 text-decoration: none;
}
a:active{
 color:inherit;
 text-decoration: none;
}
a:visited{
 color:inherit;
 text-decoration: none;
}
a:link{
 color:inherit;
 text-decoration: none;
}
body{
  background: #ffffff url('layout_bg.png') no-repeat left top;
}
header{
  position: relative;
  width: 800px;
  height: 70px;
  margin: 10px auto;
}
.yield{
  overflow: auto;
  width: 800px;
  margin: 0 auto;
}
nav{
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
nav ul{
  margin: 0;
}
nav li{
  display: inline-block;
}
nav a{
  padding: 10px;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  -webkit-transition: background-color 1s;
}
nav a:hover{
  background-color: rgba(255, 0, 0, 0.3);
}
nav a:active{
  background-color: rgba(255, 0, 0, 0.3);
}
header .logo{
  height: 60px;
}
















.movie_manage .data_body{
  overflow-x: hidden;
  overflow: scroll;
  border: 1px solid black;
}
.movie_manage .data_column_names{
  width: 100%;
  border: 1px solid black;
  border-bottom:none;
}
.movie_manage td{
  padding: 10px;
}
.movie_manage .movie_title {
  width:300px;
}
.movie_manage .date {
  width:100px;
}
.movie_manage .hidden_div{
  display:none;
}
.movie_manage label{
  display: inline-block;
  width: 80px;
}
.movie_manage .data_row{
  width: 100%;
  border-top: 1px solid black;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  -webkit-transition: background-color 1s;
}
.movie_manage .data_row:hover{
  background-color: rgba(0, 0, 0, 0.3);
}
.movie_manage .form_row{
  font-size: 15px;
  display:inline-block;
  padding: 10px;
  width:35%;
}
.movie_manage .form_button{
  text-align: center;
  padding: 10px;
}
.movie_manage .poster{
  float:left;
}
.movie_manage .poster img{
  margin-left: 10px;
  width:80px;
  height:120px;
}
.movie_manage .youtube_link{
  width:80px;
  height:120px;
  display: inline-block;
  border: 1px solid #A8A8A8 ;
}
.movie_manage .add{
  text-align: center;
}
.movie_manage input{
  width: 180px;
}
.movie_manage #new_movie{
  text-align: center;
}
section{
  margin-bottom: 50px;
}




.movie_show .left_side{
  float: left;
  padding:10px;
}

.movie_show .body{
  width: 570px;
  float: left;
  margin: 10px;
}
.movie_show .tagline{
  text-align: center;
}
